body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://img.freepik.com/vector-premium/ilustracion-vector-explosion-agujero-pared-ladrillo-realista_1284-74060.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    color: #333;
}

h3 {
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

.container {
    padding: 50px;
    text-align: center;
    max-width: 400px; /* Añadido para limitar el ancho del contenedor */
    width: 100%; /* Añadido para asegurar que ocupe todo el ancho disponible */
}

#niveles {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
}

#instrucciones {
    display: block;
    margin-top: 20px;
}
